form input {
    border-radius: 20px;
    height: 3vh;
}

form .form-check {
    color: white;
}

form .btn {
    border: white 1px solid;
    border-radius: 60px;
}

.container {
    display: block;
    position: absolute;
    background: rgba(43, 146, 206, 0.533);
    z-index: 3;
    padding: 10px;
    right: 24rem;
    top: 3rem;
    width: auto;
}

.row {
    display: block;
    margin-right: 0;
    margin-left: 0;
}