<div class="container">
    <table class="table table-striped table-borded table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Nome</th>
                <th>Currículo latte</th>
                <th>Coordenador</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Ricardo Balistiero</td>
                <td><a href="http://lattes.cnpq.br/3783943350980103">Link</a></td>
                <td>Administração</td>
            </tr>
            <tr>
                <td>Claudia Alquezar Facca</td>
                <td><a href="http://lattes.cnpq.br/6480151670397175">Link</a></td>
                <td>Design</td>
            </tr>
            <tr>
                <td>Eliana Paula Ribeiro</td>
                <td><a href="http://lattes.cnpq.br/6353626655966211">Link</a></td>
                <td>Engenharia de Alimentos</td>
            </tr>
            <tr>
                <td>Cassia Silveira de Assis</td>
                <td><a href="http://lattes.cnpq.br/6834038227118629">Link</a></td>
                <td>Engenharia Civil</td>
            </tr>
            <tr>
                <td>Eliana Paula Ribeiro</td>
                <td><a href="http://lattes.cnpq.br/6353626655966211">Link</a></td>
                <td>Engenharia de Alimentos</td>
            </tr>
            <tr>
                <td>Angelo Sebastiao Zanini</td>
                <td><a href="http://lattes.cnpq.br/4899079630582471">Link</a></td>
                <td>Engenharia de Computação</td>
            </tr>
            <tr>
                <td>Fernando Silveira Madani</td>
                <td><a href="http://lattes.cnpq.br/4008328220548431">Link</a></td>
                <td>Engenharia de Controle e Automação</td>
            </tr>
            <tr>
                <td>Edval Delbone</td>
                <td><a href="http://lattes.cnpq.br/5381116559023524">Link</a></td>
                <td>Engenharia Elétrica</td>
            </tr>
            <tr>
                <td>Sergio Ribeiro Augusto</td>
                <td><a href="http://lattes.cnpq.br/5713896758998889">Link</a></td>
                <td>Engenharia Eletrônica</td>
            </tr>
            <tr>
                <td>Susana Marraccini Giampietri Lebrao</td>
                <td><a href="http://lattes.cnpq.br/3778448786956749">Link</a></td>
                <td>Engenharia Mecânica</td>
            </tr>
            <tr>
                <td>David Garcia Penof</td>
                <td><a href="http://lattes.cnpq.br/5677866181227558">Link</a></td>
                <td>Engenharia de Produção</td>
            </tr>
            <tr>
                <td>Luciano Gonçalves Ribeiro</td>
                <td><a href="http://lattes.cnpq.br/2583370891717014">Link</a></td>
                <td>Engenharia Química</td>
            </tr>
        </tbody>
    </table>
</div>