.card {
    border: 0;
    border-radius: 0;
    width: 18rem;
}

.row {
    padding-top: 5px;
    margin-top: 15ex;
}

.container .row img#icone {
    width: auto;
    height: 10rem;
}

.btn {
    color: white;
    background-color: rgba(43, 146, 206, 1.0);
}