<div class="container">
    <app-lista-cursos>
    </app-lista-cursos>
    <div class="row ">

        <div class="card text-center col-sm-6">
            <header class="card-header">
                Adminstração
            </header>
            <img src="../../../assets/img/banner-administracao-13100606.jpg" alt="administracao">
            <h4 class="crd-title">Administrção</h4>
            <p class="card-text">Se você pensa em ser um administrador de empresas, quer fundar sua própria empresa
                e ser um empreendedor, ou mesmo liderar equipes de ponta em uma grande corporação, o começo da sua
                trajetória passa pela Mauá.

                Estude Administração em uma instituição renomada no mercado, que obteve conceito máximo pelo
                reconhecimento do curso pelo MEC, além da possibilidade da dupla diplomação pelo acordo de
                cooperação com a De Montfort University na Inglaterra. Já imaginou? Você começa sua graduação aqui e
                pode terminar com um diploma duplo, com muita experiência internacional e com o inglês fluente,
                pronto para começar a trabalhar.

                Está procurando um curso superior em Administração? Conheça a estrutura da Mauá!

                O curso de Administração da Mauá tem foco em Empreendedorismo. O aluno aprende a identificar
                oportunidades e a alcançar resultados com base na metodologia PBL: Problem Based Learning.

                O Administrador Mauá é um profissional preparado para atuar, sempre como líder, nos mais diversos
                mercados de trabalho: instituições financeiras, empresas de serviços, consultorias, comércio
                varejista ou atacadista e indústrias de diversos segmentos, como Automobilístico, Eletroeletrônico,
                Alimentício, entre outros. Os alunos desenvolvem, ao longo do curso, capacitação e treinamento para
                a tomada de decisões e para a resolução de problemas de gestão empresarial.
            </p>
            <footer class="card-footer text-muted">Diurno e Noturno</footer>
        </div>


        <!-- </div> -->
        <!-- <div class="row my-5"> -->
        <div class="card text-center col-sm-6">
            <header class="card-header">
                Design
            </header>
            <img src="../../../assets/img/banner-design-13100820.jpg" alt="design">
            <h4 class="crd-title">Design</h4>
            <p class="card-text">O curso de Design da Mauá, oferecido desde 2007, possui nota máxima no MEC, tem
                conquistado seu espaço no mundo acadêmico e já deixa sua marca de qualidade no mercado. Por meio
                de uma importante convivência com a tecnologia e os negócios, num ambiente bem estruturado, com
                professores comprometidos e bem preparados, apresenta um currículo arrojado e um projeto
                pedagógico atualizadíssimo; Vem formando Designers talentosos e atendendo às demandas do
                mercado.

                O curso é totalmente voltado para a prática, com o desenvolvimento de projetos em todos os
                semestres, do início ao fim. Todos eles são desenvolvidos com empresas parceiras de diversos
                setores (Automotivo, Eletrodomésticos, Eletroeletrônicos, Embalagens, Mobiliário, Moda e
                Acessórios, Serviços, Games e Entretenimento, entre outros) que trazem para a academia problemas
                reais do mercado que serão solucionados por equipes de alunos e professores criativos e
                competentes. Essas equipes multidisciplinares fortalecem o tripé da inovação, mote estratégico
                da instituição, com a integração entre as áreas de Design, Engenharia e Administração.

                Uma infraestrutura de primeira com o 1.º FabLab do ABC (com impressoras 3D e equipamentos de
                usinagem de última geração, que oferecem todos os recursos necessários para a criação dos
                projetos e o desenvolvimento de modelos e protótipos), o empreendedorismo (com profissionais e
                tutores orientando e transformando as ideias em produtos, serviços e negócios), a
                internacionalização (com parceiros internacionais, vivências no exterior e a dupla diplomação
                com a De Montfort University na Inglaterra), a oferta de um Minor ainda na graduação, o grande
                número de premiações em concursos e a tecnologia a serviço da sociedade estão presentes no dia a
                dia da instituição e nas atividades relativas ao curso e fazem com que a experiência de estudar
                e se formar na Mauá seja completa e inesquecível!
            </p>
            <footer class="card-footer text-muted">Diurno e Noturno</footer>
        </div>
        <!-- </div> -->
        <!-- <div class="row my-5"> -->
        <div class="card text-center col-sm-6">
            <header class="card-header">
                Engenharia
            </header>
            <img src="../../../assets/img/banner-alimentos-13102141.jpg" alt="alimentos">
            <h4 class="crd-title">Engenharia de Alimentos</h4>
            <p class="card-text">Quer um curso de Engenharia de Alimentos que te ensina o conteúdo na
                prática durante toda a graduação? A Mauá oferece a melhor infraestrutura para você.

                A graduação em Engenharia de Alimentos da Mauá oferece um intenso programa prático que leva
                o aluno desde as primeiras séries para os laboratórios didáticos e de pesquisa e de
                processamento em pequena escala. O campus conta ainda com uma instalação semi-industrial
                capaz de simular a produção de diversos produtos, semelhante ao que fazem as indústrias de
                alimentos.

                A área de produção de alimentos vem se desenvolvendo e a cada dia cresce a necessidade de
                profissionais especializados para atender essa demanda. O engenheiro de alimentos pode atuar
                nas mais diversas áreas relacionadas à cadeia alimentícia: Produção Industrial,
                Desenvolvimento de Produtos, Otimização de Processos, Garantia da Qualidade, Consultoria,
                Fiscalização ou até mesmo nas áreas comerciais e de marketing de produtos alimentícios.
            </p>
            <footer class="card-footer text-muted">Diurno e Noturno</footer>
        </div>
        <!-- </div>
    <div class="row my-5"> -->
        <div class="card text-center col-sm-6">
            <header class="card-header">
                Engenharia
            </header>
            <img src="../../../assets/img/banner-civil-13101017.jpg" alt="civil">
            <h4 class="crd-title">Engenharia Civil</h4>
            <p> class="card-text">Quer fazer diferença no mercado e na sociedade sendo formado em
                Engenharia Civil? Conheça o curso da Mauá!

                O curso tem uma área de atuação ampla que exige do profissional uma formação
                diversificada e pronto para atender obras distintas: construção de edifícios
                residenciais, ferrovias, aeroportos ou faça o planejamento de sistemas de saneamento
                básico para cidades, podendo trabalhar com arquitetos e ambientalistas em grandes
                construções.
            </p>
            Em quais campos trabalhar:
            <ul class="list-group">
                <li class="list-group-item">Construção Civil: atue em construções em geral:
                    edifícios, casas, obras
                    industriais, desenvolvimento de tecnologias e materiais de construção e
                    gerenciamento de obras;</li>
                <li class="list-group-item">Estruturas: trabalhe no desenvolvimento dos mais
                    variados projetos aplicados
                    à construção civil: concreto armado, aço e metálicos e estruturas em
                    madeira;</li>
                <li class="list-group-item">Saneamento básico e recursos hídricos ? atue em
                    estações de tratamento e na
                    regularização de rios, canais, drenagem urbana e obras relacionadas à
                    hidrelétricas;</li>
                <li class="list-group-item">Transportes: atue no planejamento de rodovias,
                    ferrovias, aeroportos,
                    navegações e sistemas de logística e transporte.</li>
            </ul>
            <p>A partir de 2017 os candidatos podem escolher a duração dos cursos de Engenharia
                Noturno, de 5 ou 6 anos. O curso de 5 anos tem mais disciplinas por série e,
                consequentemente, uma carga horária semanal maior. A carga horária total é a mesma
                nas duas opções.
            </p>

            <footer class="card-footer text-muted">Diurno e Noturno</footer>
        </div>
        <!-- </div>
    <div class="row my-5"> -->
        <div class="card text-center col-sm-6">
            <header class="card-header">
                Engenharia
            </header>
            <img src="../../../assets/img/banner-computacao-13102424.jpg" alt="computacao">
            <h4 class="crd-title">Engenharia de Computação</h4>
            <p class="card-text">A Engenharia de Computação está presente em nosso dia a dia e nas mais diversas
                áreas: Educação, Indústrias, Redes de Comunicação e Dispositivos Móveis, Transportes,
                Entreterimento, entre outras. Essa diversidade de aplicações para o Engenheiro de Computação
                qualifica-o para atuar como desenvolvedor, engenheiro, empreendedor, executivo de grandes
                corporações.

                A graduação em Engenharia de Computação da Mauá oferece aos alunos uma formação com base nos
                conceitos fundamentais da Engenharia, até a formação especializada em Sistemas Embarcados, Software,
                Infraestrutura e Segurança, Ciência de Dados e suas inter-relações. O profissional de Engenharia de
                Computação formado pela Mauá está habilitado para atuar nas seguintes áreas e segmentos:
            </p>
            <ul class="list-group">
                <li class="list-group-item"> desenvolvimento de aplicações para sistemas embarcados;</li>
                <li class="list-group-item">desenvolvimento de games;</li>
                <li class="list-group-item">suporte a softwares para redes e cidades inteligentes;</li>
                <li class="list-group-item">novas tecnologias e desafios;</li>
                <li class="list-group-item"> prestação de serviços e consultoria;</li>
                <li class="list-group-item">pesquisa e ensino superior.</li>
            </ul>

            <footer class="card-footer text-muted">Diurno</footer>
        </div>
        <!-- </div>
    <div class="row my-5"> -->
        <div class="card text-center col-sm-6">
            <header class="card-header">
                Engenharia
            </header>
            <img src="../../../assets/img/banner-controle-automacao-13102559.jpg" alt="ca">
            <h4 class="crd-title">Engenharia de Controle e Automação</h4>
            <p class="card-text">Você está procurando uma graduação em Engenharia de Controle e Automação que o
                destaque no mercado de trabalho. Conheça o curso oferecido pela Mauá!

                A formação em Engenharia de Controle e Automação da Mauá prepara o aluno para o uso de máquinas e
                conhecimento sobre os processos de fabricação, da Engenharia Eletrônica e da Ciência da Computação,
                além das suas aplicações em controle de processos e automação industrial.

                Os alunos do curso de Engenharia de Controle da Mauá têm conhecimentos de Mecânica, Eletrônica e
                Computação para atuarem e se desenvolverem em novas áreas, entre as quais se destacam: Máquinas e
                Dispositivos Inteligentes, Robótica, Sistemas Autônomos, Integração de Sistemas Automatizados,
                Automação da Manufatura, Automação Predial e Controle de Processos.
            </p>
            <footer class="card-footer text-muted">Diurno</footer>
        </div>
        <!-- </div>
    <div class="row my-5"> -->
        <div class="card text-center col-sm-6">
            <header class="card-header">
                Engenharia
            </header>
            <img src="../../../assets/img/banner-eletrica-13103930.jpg" alt="eletrica">
            <h4 class="crd-title">Engenharia Elétrica</h4>
            <p class="card-text">A Engenharia Elétrica está no nosso cotidiano, presente nas diversas áreas
                industriais, em Sistemas de Transporte, na Automação de instalações elétricas prediais e comerciais,
                entre outras. O engenheiro eletricista atua na geração, distribuição e conversão eficiente da
                energia elétrica. Muito além da geração convencional (hidráulica ou térmica), hoje é questão
                obrigatória a análise de fontes alternativas de energia (eólica, solar...). Adicionalmente, é
                crescente a busca por novas fontes de energia elétrica alternativa e por projetos que resultem num
                melhor aproveitamento da energia e em eficiência energética. Cada vez mais, as unidades geradoras de
                pequeno porte estão presentes, levando os profissionais a desafios crescentes na área de
                distribuição de energia, convergindo para redes inteligentes e toda uma nova regulamentação do
                setor. Esses aspectos são ainda mais evidenciados pela imensidão territorial de nosso País.

                A Mauá oferece a seu aluno de Engenheira Elétrica uma formação que, além de fortemente alicerçada
                nos conceitos fundamentais da Engenharia, permeia e entrelaça as áreas de Conversão de Energia,
                Regulamentação, Proteção, Distribuição e Energias Alternativas. Embora científico e tecnológico, o
                curso de Engenharia Elétrica também dá aos seus alunos a base para um pensamento humanístico e
                social que faz do profissional um elemento de atuação diferenciada na sociedade.
            </p>
            <footer class="card-footer text-muted">Diurno e Noturno</footer>
        </div>
        <!-- </div>
    <div class="row my-5"> -->
        <div class="card text-center col-sm-6">
            <header class="card-header">
                Engenharia
            </header>
            <img src="../../../assets/img/banner-mecanica-13105701.jpg" alt="eletrica">
            <h4 class="crd-title">Engenharia Mecânica</h4>
            <p class="card-text">A graduação em Engenharia Mecânica é uma das mais abrangentes modalidades da
                Engenharia. Ela trata de tudo o que se move, de brinquedos a fábricas (com tudo o que está dentro),
                passando por eletrodomésticos, embarcações, veículos etc. Além disso, ela trata de instalações de
                conversão de energia como hidroelétricas e termoelétricas, instalações de ar-condicionado, de
                geração de vapor e frigoríficas.

                A Engenharia Mecânica trabalha por soluções para satisfazer necessidades da sociedade com
                tecnologias apropriadas. Para isso, ela projeta e desenvolve processos de fabricação de produtos
                consumidos no cotidiano, de máquinas e equipamentos industriais e de instalações industriais e de
                geração ou transformação de energia.
            </p>
            <footer class="card-footer text-muted">Diurno</footer>
        </div>
        <!-- </div>
    <div class="row my-5"> -->
        <div class="card text-center col-sm-6">
            <header class="card-header">
                Engenharia
            </header>
            <img src="../../../assets/img/banner-producao-13103804.jpg" alt="producao">
            <h4 class="crd-title">Engenharia de Produção</h4>
            <p class="card-text">Infraestrutura de ponta, profissionais reconhecidos num curso bem-conceituado. Essa
                é a graduação em Engenharia de Produção da Mauá, ideal para um futuro de sucesso!

                Quero ser engenheiro de produção! Quais são minhas competências?
            </p>
            <ul class="list-group">
                <li class="list-group-item">Projetar, implementar, gerenciar e melhorar continuamente sistemas
                    produtivos e de distribuição de
                    bens e serviços, compostos de infraestrutura, processos e pessoas;</li>
                <li class="list-group-item">Monitorar a operação desses sistemas, com atenção especial para a
                    eficiência - uso otimizado dos
                    recursos internos - e para a eficácia - atendimento correto do consumidor;</li>
                <li class="list-group-item"> Prever e avaliar os resultados econômicos e os impactos sociais e
                    ambientais advindos dessas
                    operações.</li>
            </ul>
            <p>Fábrica Virtual: Um dos diversos diferenciais que a Mauá tem!

                A Fábrica Virtual utiliza softwares de última geração para projetar produtos e unidades fabris e
                para gerenciá-las. A metodologia de aprendizado por projetos (em inglês, Project Based Learning)
                permite a construção do conhecimento, o que contribui fortemente para a sólida e qualificada
                formação do futuro profissional.

                A plataforma do Projeto Fábrica Virtual funciona como um repositório de conhecimentos que permite
                gerenciar processos e produtos para adicionar valor a eles em empresas de diferentes portes.

                O aluno da 3ª série do período diurno projeta o produto; na 4ª série projeta a fábrica e na 5.ª
                projeta o empreendimento. Ainda na 5ª série, os alunos desenvolvem os Trabalhos de Conclusão de
                Curso de preferência em pequenas e médias empresas. Cria-se, assim, uma equilibrada mescla entre os
                ambientes virtuais e reais que contribui para a diferenciação do futuro engenheiro no mercado de
                trabalho.</p>

            <footer class="card-footer text-muted">Diurno e Noturno</footer>
        </div>
        <!-- </div>
    <div class="row my-5"> -->
        <div class="card text-center col-sm-6">
            <header class="card-header">
                Engenharia
            </header>
            <img src="../../../assets/img/banner-quimica-13105855.jpg" alt="quimica">
            <h4 class="crd-title">Engenharia Química</h4>
            <p class="card-text">Está buscando onde cursar Engenharia Química? Conheça mais sobre o Curso na Mauá:

                O que eu preciso saber sobre Engenharia Química?

                Essa é a área mais abrangente da Engenharia e compreende todas as etapas de criação,
                desenvolvimento, melhoramento e aplicação dos processos químicos e bioquímicos e dos seus produtos.
                Compreende o projeto, a construção, o dimensionamento, a gestão, a operação e o controle de plantas
                industriais que realizam esses processos, incluindo a disposição e o tratamento de resíduos, o
                monitoramento e a redução de impactos ambientais e o controle de poluição ambiental (ar, água e
                solo).

                Gostei! Onde eu posso aplicar meus conhecimentos?

                O Engenheiro Químico pode atuar em indústrias, nas quais a química se faz presente, em empresas de
                serviços e consultorias; laboratórios; institutos de pesquisas; instituições públicas e
                universidades. Nesses setores ele pode atender várias áreas de atuação, como engenheiro de: projeto,
                produto, processo, produção, desenvolvimento, manutenção, segurança, qualidade, aplicações,
                assistência técnica, suprimentos e vendas; diversos cargos em nível de gerência, pesquisador e
                professor.

                O campo de atuação compreende as indústrias: petroquímica, polímeros, química fina, inorgânica,
                polpa de celulose e papel, tintas, vernizes, explosivos, farmacêutica, alimentos, tratamento de
                águas, cerâmica, cimento, vidro, galvanoplastia e outras.
            </p>
            <footer class="card-footer text-muted">Diurno</footer>
        </div>
    </div>
</div>