<ul class="list-group">
    <li class="list-group-item">Administração</li>
    <li class="list-group-item">Design</li>
    <li class="list-group-item">Engenharia de Alimentos</li>
    <li class="list-group-item">Engenharia Química</li>
    <li class="list-group-item">Engenharia Mecânica</li>
    <li class="list-group-item">Engenharia Civil</li>
    <li class="list-group-item">Engenharia de Controle e Automação</li>
    <li class="list-group-item">Engenharia Elétrica</li>
    <li class="list-group-item">Engenharia Eletrônica</li>
    <li class="list-group-item">Engenharia de Computação</li>
</ul>